@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/poppins-v20-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/poppins-v20-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/poppins-v20-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/poppins-v20-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/poppins-v20-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/poppins-v20-latin-regular.svg#Poppins') format('svg'); /* Legacy iOS */
}

:root{
    --pink-color: #f2726a;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    background: linear-gradient(45deg, #00853e, #50c878);;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Poppins";
}

.card{
    width: 300px;
    height: 400px;
    text-align: center;
    background-color: #242628;
    border-radius: 15px;
    overflow: hidden;
}
.card .card__img{
    width: 120px;
    height: 120px;
    overflow: hidden;
    border-radius: 50%;
    border: 4px solid var(--pink-color);
    cursor: pointer;
    margin: 25px auto;
    transition :all 1s ;

}

.card .card__img img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    object-position: center;
}

.card h2{ 
    color: white;
    margin: 15px 0;
    font-weight: bold;
}

.card p{
    color: var(--pink-color);
    margin: 15px 0;
}

.card__social{
    margin: 25px 0;
}

.card__social a{
    color: white;
    margin: 25px 20px;
    font-size: 20px;
    transition: 0.5s;
}

.card button{
    width: 150px;
    height: 40px;
    border: 1px solid var(--pink-color);
    background: transparent;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: 0.5s;
}

.card__social a:hover{
    color: var(--pink-color);
}

.card button:hover {
    background: var(--pink-color);
}

.card .card__img:hover {
    width: 100%;
    height:100%;
    border-radius: unset;
    margin-top: 0px;
    transform-origin: center;
    border: none;
    border-radius: 15px;
}
.card .card__img:hover ~ .info{
    visibility: hidden;
}